{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "ignorePatterns": ["node_modules", "dist"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-lines": ["error", { "max": 500 }],
    "max-len": ["error", { "code": 120 }],
    "semi": 0
  }
}
